# Deny access to wp-config.php
# https://codex.wordpress.org/Hardening_WordPress
<files wp-config.php>
order allow,deny
deny from all
</files>

# Block the include-only files
# https://codex.wordpress.org/Hardening_WordPress
# For Multisite compatibility remove 'RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]'
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# Prevent username enumeration
# https://wordpress.stackexchange.com/questions/46469/can-i-prevent-enumeration-of-usernames
RewriteCond %{REQUEST_URI} !^/wp-admin [NC]
RewriteCond %{QUERY_STRING} author=\d
RewriteRule ^ - [L,R=403]

# BEGIN WordPress
# ...
