# Prevent PHP execution in 'uploads' directory
# https://codex.wordpress.org/Hardening_WordPress
# Remove if PHP executions are required in 'uploads' directory
<files ~ "\.ph(?:p[345]?|t|tml)$">
deny from all
</files>
